.ratings_page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.ratings_page > h1 {
    color: #111; 
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ratings_container{
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 5%;
    width: 100%;
    height: 100%;
}

.ratings_button{ 
    position: sticky; 
    cursor: pointer;
}
    

.ratings_card{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    height: 500px;
    width: 320px;
    align-items: center;
    /* overflow: hidden; */
    border-radius: 20px;
    text-align: center;
    border: solid black;
    position: relative;
    
} 

.ratings_card_body{
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    position: relative;
    background: teal;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.ratings_card_body > h1 {
    font-size: 50px;
    font-weight: 400;
}

.rating{
    justify-content: center;
}

.ratings_card > p {
    visibility: hidden;
    font-size: 16px;
    font-weight: 400;
}

.ratings_poster_image{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    opacity: 0.1;
} 