.recommendations_page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.recommendations_page>h1 {
    color: #111;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
    margin-block-start: 2.5%;
    margin-block-end: 1%;
    text-shadow: -1px -1px 0 rgb(172, 172, 172), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.recommendations_page > h2 {
    color: #111;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1;
    text-align: left;
    /* margin-block-start: 2.5%; */
    margin-block-end: 3.5%;
}