.search_page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.search_page > h1 {
    color: #111; 
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 0.2; 
    text-align: left;
    margin-block-start: 5%;
    margin-block-end: 5%;
    text-shadow: -1px -1px 0 rgb(172, 172, 172), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.search_button{
    background-color: rgb(88, 154, 252);
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg,rgb(92, 44, 237), #24a3ba);
    text-align: center;
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
}

.search_button:active {
    transform: scale(0.96)
}

.search_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-items: center;
}

.search_bar {
    width: 100%;
}

.search_category {
    width: 100%;
}

.search_chips {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-self: safe center;
}
