.search_page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.search_page > h1 {
    color: #111; 
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 0.2; 
    text-align: left;
    margin-block-start: 5%;
    margin-block-end: 5%;
    text-shadow: -1px -1px 0 rgb(172, 172, 172), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.search_container{
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    /* top: 5%; */
    width: 100%;
    height: 100%;
    justify-content: safe center;

}

.search_card{
    height: 500px;
    width: 320px;
    margin: 0px 10px 10px 10px;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: solid black;
    box-shadow: -1px -1px 0 rgb(172, 172, 172), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: relative;
    background-color: black;
}

.search_card_body{
    height: 500px;
    width: 320px;
    position: absolute;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: -100%;
}

.search_card_body > h1{
    font-weight: 900; 
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 rgb(172, 172, 172), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.search_card_body > p {
    font-weight: 300; 
    color: white;
    text-shadow: -1px -1px 0 rgb(172, 172, 172), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.search_poster_image{
    height: 500px;
    width: 320px;
    background-color: #3BC7C6;
    position: absolute;
    border-radius: 15px;
    object-fit: cover;
    opacity: 1;
    overflow: hidden;
}

.search_card:hover > .search_card_body{
    opacity: 1;
    top: 0;
    transition: 500ms;
}

.search_card:hover > .search_poster_image{
    opacity: 0.5;
}

.search_button{
    background-color: rgb(88, 154, 252);
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg,rgb(92, 44, 237), #24a3ba);
    text-align: center;
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
}

.wishlist_button:hover{
background: linear-gradient(135deg,#2cc4df,#66d55a);
color: black;
}

.search_button:active {
    transform: scale(0.96)
}

.rating_component {
    background: linear-gradient(235deg,#27e2cc,#923dd7);
    width: 100%;
    align-self: center;
    border-radius: 15px;
    color: white;
}

.search_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-items: center;
}

.search_bar {
    width: 100%;
}

.search_category {
    width: 100%;
}

.search_chips {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-self: safe center;
}












/* 





.search_form{
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
}


.button_container {
    display: grid;
    overflow: scroll;
    width: 100%;
}

/* MM ADDED STYLES BELOW 




.search_container{
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.search_button{ 
    position: sticky; 
    cursor: pointer;
}



.search_card {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    /* flex-wrap: nowrap; 
    height: 45%;
    align-items: center;
    /* overflow: hidden; 
    border-radius: 20px;
    text-align: center;
    border: solid black;
    position: relative;
}
/* 
.search_card:hover > .search_card_body{
    position: relative;
} 


.search_card_body{
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    position: relative;
    background: teal;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}


*/
/* 
.search_card_body > p {
    font-size:15px;
    font-weight: 400;
} */

/* .search_button{
    background-color: pink;
    cursor: pointer;
    text-align: center;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
} */

/* .search_button:active {
    transform: scale(0.96)
} 

.search_poster_image{
    height: 100%;
    border-radius: 20px;
} */