.wishlist_page{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    /* background: linear-gradient(135deg,#d41e31,#491f8f); */
}

.wishlist_container{
    /* margin: 1%;
    height: 600px;
    
    align-items: center;
    */
    /* background-color:lightskyblue; */
    
    /* position: relative; */
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    /* grid-template-rows: auto; */
    /* flex-direction: row;
    flex-wrap: nowrap;
    
    
    top: 5%;
    width: 100%;
    height: 100%; */
    /* align-items: center; */
}
/* .wishlist_button{ position: sticky; 
cursor: pointer;} */


.wishlist_card {
    /* display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color: blueviolet;
    margin: 1%;
    overflow: scroll; */
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
    width: 320px;
    background-color:rgb(255, 255, 255, 0.4);
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

/* .wishlist_card:hover{
    transition: 200ms

}

.wishlist_card > p {
    visibility: hidden;
}

.wishlist_card:hover {
    visibility: visable;
    transition: 200ms;
    
} */

/* .wishlist_card:hover > p{
    visibility: visible;
} */

/* .wishlist_card >img{
    height: 100%;
    width: 100%
    
} */

.wishlist_poster_image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}

/* .wishlist_poster_image:hover{
    opacity: 0.5;
} */


